autopep8==1.2.2
defusedxml==0.4.1
dj-database-url==0.4.1
Django==1.9.6
django-allauth==0.25.2
django-debug-toolbar==1.4
django-filter==0.13.0
django-graphiql==0.4.4
django-guardian==1.4.4
django-reversion==1.10.2
graphene==0.8.1
graphql-core==0.4.18
graphql-django-view==1.1.1
graphql-relay==0.3.3
oauthlib==1.0.3
pep8==1.7.0
python3-openid==3.0.10
pytz==2016.4
requests==2.10.0
requests-oauthlib==0.6.1
rules==1.1.1
singledispatch==3.4.0.3
six==1.10.0
sqlparse==0.1.19
