<html>
<head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/yeti/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
    <title>{{ title }}</title>
    <style>
        body {
            padding-top: 120px;
        }
        :target::before {
            content:"";
            display:block;
            height:120px; /* fixed header height*/
            margin:-120px 0 0; /* negative fixed header height */
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverted  navbar-fixed-top" style="background:white;">
  <div class="container-fluid">
        <div class="page-header" style="margin-bottom:0;">
            <h1>
                autodo.us <small>todos for procrastinators</small>
            </h1>
        </div>
    </div>
</nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="affix hidden-xs hidden-sm">
                    <ul class="nav">
                        <li><a href="#part01">01 </a></li>
                        <li>
                             <a href="#affix">Affix</a> <ul class="nav"> <li class=""><a href="#affix-examples">Examples</a></li> <li class=""><a href="#affix-usage">Usage</a></li> <li><a href="#affix-options">Options</a></li> <li><a href="#affix-methods">Methods</a></li> <li><a href="#affix-events">Events</a></li> </ul> 
                        </li>
                        <li><a href="#part01">01 </a></li>
                        <li>
                             <a href="#affix">Affix</a> <ul class="nav"> <li class=""><a href="#affix-examples">Examples</a></li> <li class=""><a href="#affix-usage">Usage</a></li> <li><a href="#affix-options">Options</a></li> <li><a href="#affix-methods">Methods</a></li> <li><a href="#affix-events">Events</a></li> </ul> 
                        </li>
                        <li><a href="#part01">01 </a></li>
                        <li>
                             <a href="#affix">Affix</a> <ul class="nav"> <li class=""><a href="#affix-examples">Examples</a></li> <li class=""><a href="#affix-usage">Usage</a></li> <li><a href="#affix-options">Options</a></li> <li><a href="#affix-methods">Methods</a></li> <li><a href="#affix-events">Events</a></li> </ul> 
                        </li>
                        <li><a href="#part01">01 </a></li>
                        <li>
                             <a href="#affix">Affix</a> <ul class="nav"> <li class=""><a href="#affix-examples">Examples</a></li> <li class=""><a href="#affix-usage">Usage</a></li> <li><a href="#affix-options">Options</a></li> <li><a href="#affix-methods">Methods</a></li> <li><a href="#affix-events">Events</a></li> </ul> 
                        </li>
                        <li><a href="#part01">01 </a></li>
                        <li>
                             <a href="#affix">Affix</a> <ul class="nav"> <li class=""><a href="#affix-examples">Examples</a></li> <li class=""><a href="#affix-usage">Usage</a></li> <li><a href="#affix-options">Options</a></li> <li><a href="#affix-methods">Methods</a></li> <li><a href="#affix-events">Events</a></li> </ul> 
                        </li>
                        <li><a href="#part01">01 </a></li>
                        <li>
                             <a href="#affix">Affix</a> <ul class="nav"> <li class=""><a href="#affix-examples">Examples</a></li> <li class=""><a href="#affix-usage">Usage</a></li> <li><a href="#affix-options">Options</a></li> <li><a href="#affix-methods">Methods</a></li> <li><a href="#affix-events">Events</a></li> </ul> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <h2 id="part01">#part01</h2>
                <h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 id="affix">#affix</h2>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 id="affix-examples">h2#affix-examples</h2>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 id="affix-usage">#affix-usage</h2>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 id="affix-options">#affix-options</h2>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 id="affix-methods">#affix-methods</h2>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div><h1>Books</h1>
                <div class="list-group">
                    <div href="#" class="list-group-item clearfix">
                        <h4 class="list-group-item-heading">
                            <a href="#">SwissRe 04-2016</a>
                        </h4>
                        <div class="list-group-item-text">
                            <a href="">23 todos</a>,
                            <a href="">3 tags</a>,
                            <a href="">10 person</a> &amp;
                            <a href="">2323 hrs</a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Close book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 id="affix-events">#affix-events</h2>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new book...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Add</button>
                    </span>
                </div>




            </div>

        </div>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.js" crossorigin="anonymous"></script>
    
    {{request.user.is_authenticated}}
    {{request.url}}

    {{ title }}
</body>
</html>